#titleheading {
	padding: 1.5%;
	font-family: Consolas, Arial, Helvetica, sans-serif;
	color: white;
	background-image: url('/Website/Assets/Binary Background.jpg');
	border-radius: 6px;
}



#projectdivsleft {
	border-style: solid;
	border-color:black;
	padding: 1.5%;
	font-family: Consolas, Arial, Helvetica, sans-serif;
	border-radius: 10px;
	width: 50%;
	margin-top: 2%;
	background: white;
	
}

#projectdivsright {
	border-style: solid;
	border-color:black;
	padding: 1.5%;
	font-family: Consolas, Arial, Helvetica, sans-serif;
	border-radius: 10px;
	width: 50%;
	float: right;
	margin-top: 2%;
	background: white;
}

.lmb {
	
	font-family: Consolas, Arial, Helvetica, sans-serif;
	border-radius: 5px;
	font-size: 20px;

	border-style: solid;
	border-color: black;
	
	
}

.lma {
	text-decoration: none;
	color: black;
	background: white;
}


.lmb {
	text-decoration: none;
	color: black;
	background: white;
}


body.dark-mode {
  background-color: black;
  

}

button.dark-mode {
  background-color: white;
  color: rgb(236, 172, 172);
}



#ldmode {
   
  border-radius: 10px;
  
  border-color: black;
  background-color: white;
  transition: transform .2s;
  height: fit-content;
  margin-left: 1%;
  font-family: Consolas;
	display: block;
  text-align: center;
  width: fit-content;
	padding: 10px;
}

#ldmode:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
  
}

#ldmodep {
	padding: 5px;
}